.gameAreaDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}

.playerCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.showSheetButton {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 4rem;
}
